In [1]:
import pm4py
import json
import pandas as pd

In [2]:
bp_ex = pm4py.read_bpmn("running_example_annotated.bpmn")

In [8]:
log = pm4py.read_xes('running-example.xes', return_legacy_log_object=False)

parsing log, completed traces ::   0%|          | 0/6 [00:00<?, ?it/s]

In [9]:
type(log)

pandas.core.frame.DataFrame

In [13]:
vars = pm4py.statistics.variants.log.get.get_variants(log)

In [22]:
vars

{('register request',
  'examine thoroughly',
  'check ticket',
  'decide',
  'reject request'): [{'attributes': {'concept:name': '1'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2010-12-30 10:02:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Pete', '@@index': 14}, '..', {'concept:name': 'reject request', 'time:timestamp': Timestamp('2011-01-07 13:24:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Pete', '@@index': 18}]}],
 ('register request',
  'check ticket',
  'examine casually',
  'decide',
  'pay compensation'): [{'attributes': {'concept:name': '2'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2010-12-30 10:32:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Mike', '@@index': 9}, '..', {'concept:name': 'pay compensation', 'time:timestamp': Timestamp('2011-01-08 11:05:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Ellen', '@@index': 13}]}],
 ('register request',
  'examine casually',
  'check ticket',
  'decide',
  'reinitiate request',
  'examine thoroughly',
  'check ticket',
  'decide',
  'pay compensation'): [{'attributes': {'concept:name': '3'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2010-12-30 13:32:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Pete', '@@index': 0}, '..', {'concept:name': 'pay compensation', 'time:timestamp': Timestamp('2011-01-15 09:45:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Ellen', '@@index': 8}]}],
 ('register request',
  'check ticket',
  'examine thoroughly',
  'decide',
  'reject request'): [{'attributes': {'concept:name': '4'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2011-01-06 14:02:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Pete', '@@index': 37}, '..', {'concept:name': 'reject request', 'time:timestamp': Timestamp('2011-01-12 14:44:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Ellen', '@@index': 41}]}],
 ('register request',
  'examine casually',
  'check ticket',
  'decide',
  'reinitiate request',
  'check ticket',
  'examine casually',
  'decide',
  'reinitiate request',
  'examine casually',
  'check ticket',
  'decide',
  'reject request'): [{'attributes': {'concept:name': '5'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2011-01-06 08:02:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Ellen', '@@index': 24}, '..', {'concept:name': 'reject request', 'time:timestamp': Timestamp('2011-01-24 13:56:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Mike', '@@index': 36}]}],
 ('register request',
  'examine casually',
  'check ticket',
  'decide',
  'pay compensation'): [{'attributes': {'concept:name': '6'}, 'events': [{'concept:name': 'register request', 'time:timestamp': Timestamp('2011-01-06 14:02:00+0000', tz='UTC'), 'cost:total': 50, 'org:resource': 'Mike', '@@index': 19}, '..', {'concept:name': 'pay compensation', 'time:timestamp': Timestamp('2011-01-16 10:47:00+0000', tz='UTC'), 'cost:total': 200, 'org:resource': 'Mike', '@@index': 23}]}]}

In [21]:
list(vars)[0]

('register request',
 'examine thoroughly',
 'check ticket',
 'decide',
 'reject request')

In [27]:
log1 = pm4py.filtering.filter_event_attribute_values(log, 'concept:name', {'examine thoroughly'})

In [28]:
log

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [29]:
log1

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4

In [30]:
log2 = pm4py.filtering.filter_event_attribute_values(log, 'concept:name', {'examine thoroughly'}, retain=False)

In [31]:
log2

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [32]:
pm4py.write_xes(log1, 'log1.xes')

exporting log, completed traces ::   0%|          | 0/3 [00:00<?, ?it/s]

In [33]:
pm4py.write_xes(log2, 'log2.xes')

exporting log, completed traces ::   0%|          | 0/3 [00:00<?, ?it/s]